body {
  color: white;
  background-color: black;
}

.hero {
  width: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-bottom: 30px;
  margin: 10px 0px 30px 10px;

  /* background-color: blue; */
  /* row-gap: 40px; */
}
.first-section {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}
.second-section {
  display: flex;
  justify-content: start;
  align-items: start;
  align-content: start;
  margin-left: 0px;
  margin-bottom: 50px;
  width: 400px;
  margin-bottom: 20px;
}
#name {
  position: relative;
  height: fit-content;
  width: fit-content;
  min-width: 16px;
  /* min-height: 10px; */
  font-size: 70px;
  /* font-weight: 800; */
  margin-bottom: 10px;
}

#header-img {
  display: block;
  position: relative;
  object-fit: cover;
  height: 300px;
  width: 100%;
  max-width: 1000px;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
#btn-resume {
  cursor: pointer;
  background-color: #285d69b1; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 30px;
}
